# PayU Latam (sandbox público de prueba)
PAYU_MERCHANT_ID=508029
PAYU_API_KEY=4Vj8eK4rloUd272L48hsrarnUA
PAYU_API_LOGIN=pRRXKOl8ikMmt9u
PAYU_ACCOUNT_ID=512321
PAYU_BASE_URL=https://sandbox.api.payulatam.com/payments-api/4.0/service.cgi
PAYU_CURRENCY=COP
PAYU_ENABLED=false

# Kafka (Confluent Cloud)
KAFKA_BOOTSTRAP_SERVERS=
KAFKA_API_KEY=
KAFKA_API_SECRET=
